<a class="OLSKRootLink OLSKCommonIdentity" href="<%= OLSKRootLinkURL %>" title="<%= typeof OLSKRootLinkTextAlternate !== 'undefined' ? OLSKRootLinkTextAlternate : OLSKLocalized('OLSKRootLinkTextHome') %>">
	<img class="OLSKRootLinkImage" role="presentation" src="<%= OLSKRootLinkImageURL %>">
</a>
